{% extends 'Navbar/studentnavbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}

<h1>This page is to view all the available exams </h1>
<div class="card" style="width: 18rem;">
  <img src="{% static 'images/kl-university.jpg' %}" class="card-img-top" alt="KLU">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% endblock %}
</body>
</html>
